@model NeuralPlay.Models.JuegoViewModel

@{
    ViewData["Title"] = "Detalles del Juego";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJuego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJuego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdJuego" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>